---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kandis for livet">
  <h1>Kandis for livet</h1>
  <p>Kandis for Life is an entertaining, life confirming and touching documentary about a cohort of unusual Danes who finds comfort and meaning in life through their attachment to their idol, dance band star Kandis-Johnny.</p>

  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/791141942?h=9c792d312a&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</Layout>
