---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Übermensch">
  <h1>Übermensch</h1>

Two transient young men break into an empty church by the sea to form a blood pact: to get rid of their childhood demons and escape the cycle of anxiety and authorities. “It’s not goth to be afraid of darkness”, they agree.

SHORT DOCUMENTARY

CAST: DAMIEN TWIDE & KITI ANDERSEN

  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/231046759?h=c73bec8dc6&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/235985641?h=e9eb3e21fb&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</Layout>
