<nav>
	<a href="/">Jesper Dalgaard</a>
	<a href="/who">Who?</a>
	<a href="/uebermensch">Über</a>
	<a href="/weltschmerz">Welt</a>
	<a href="/moonie">Moonie</a>
	<a href="/kandis">Kandis</a>
	<a href="/divine">Divine</a>
</nav>

<style>
	nav {
		display: flex;
		gap: 1em;
	}
	nav a {
		color: black;
		text-decoration: none;
	}
	/*
	nav a:not(:first-child, :nth-child(2)) {
		font-family: system-ui, sans-serif;
		font-weight: bold;
	}*/
</style>
