<nav>
	<a href="/">Who?</a>
	<a href="/uebermensch">Über</a>
	<a href="/weltschmerz">Welt</a>
	<a href="/moonie">Moonie</a>
	<a href="/kandis">Kandis</a>
	<a href="/divine">Divine</a>
</nav>

<style>
	nav {
		display: flex;
		gap: 1em;
	}
	nav a {
		color: black;
	}
</style>
