---
import Menu from '../components/Menu.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Jesper's website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<title>{title}</title>
		<ViewTransitions />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<Menu></Menu>
		<slot />
	</body>
</html>
<style is:global>
	:root {}
	html {
		font-family: Inconsolata, Prociono, system-ui, sans-serif;
		font-size: 20px;
		line-height: 1.5;
		/* background: #f3e7e7; */
		background: #f5f5f5;
		max-width: 41rem;
	}
	a {
		color: black;
	}
	body {
		margin: 1rem;
	}
	h1 {
		font-size: 3rem;
	}
	strong,
	em {
		font-family: system-ui, sans-serif;
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
	}
	ul {
		list-style: none;
		font-size: 18px;
		padding-left: 1rem;
	}
	.Figma {
		position: relative;
		height: 100vh;
		position: fixed;
		top: 0;
		left :0;
		right: 0;
		bottom: 0;
		z-index: -1;
		overflow: hidden;
	}
	.Figma--full {

	}
	.Figma iframe {
    border: 0;
    position: absolute;
    max-width: none;
    left: -25%;
    top: -25%;
    width: 150%;
    height: 150%;
}
.Figma--notfullsize {
	position: relative;
	width: 100%;
	height: auto;
	max-width: 100%;
	aspect-ratio: 3/4;
	z-index: 1;
	cursor: pointer;
}
</style>
